.sub-row{
    background-color:whitesmoke;
    padding: 20px;
    margin-bottom:15px ;
}

.introduction{
    padding-top: 10px;
}

.potrait> img{
    width: 170px;
}

.admin-wrapper{
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.controls{
    padding: 20px;
}

.admin-content{
    background-color: whitesmoke;
    padding: 20px;
}

.inner-container{
    width : 100%;
    height:100%;
    background-color: white;
    box-shadow: rgb(0 0 0 / 24%) 3px 3px 6px 0px inset, rgb(255 255 255 / 50%) -3px -3px 6px 1px inset;
}

.admin-row{
    background-color: aqua;
    margin: 30px;

}

.control-btn{
    background-color: darkslateblue !important;
    border: none;
    color :white;
    height: 50px;
    border-radius: 3px 25px 3px 25px !important;
    margin-bottom: 12px;
}

.control-btn:hover{
    background-color: rgb(36, 30, 75) !important;

}

.nav-link.active{
    color: whitesmoke !important;
    background-color: rgb(36, 30, 75) !important;
}