.contact-sec{
    background-image: linear-gradient(120deg, #0bc3cd, #241e4b, #241e4b);
    text-align: center;
    border-radius: 2px;
}

.contact-sec>h2{
    font-family: 'Lobster', cursive;
    color: whitesmoke;
    font-weight: 300;
    letter-spacing: 2px;
}

.contact-sec>img{
    margin: 20px;
    border-radius: 100%;
    border: 2px solid whitesmoke;
    width: 10rem;
    padding: 5px;
}

.contact-sec>h3,h4{
    color: white;
}

.icons {
    margin-top: 20px;
    padding: 10px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}
.info{
    color: white;
    font-weight: 300;
}