.footer{
    background-color: #010125;
    color: white;
    /* height: 200px; */
    padding: 20px;
}
.section-1{
    border-right: 2px solid whitesmoke;
}
.footer-heading>h5{
    letter-spacing: 2px;
    text-transform: uppercase;
}
.section-1>ul {
    padding: 1rem;
    list-style: none;
}
.section-1>ul>li{
    margin-bottom: 5px;
        
}
.section-1>ul>li>a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
.section-2{
    text-align: center;
    border-right: 2px solid whitesmoke;
}

.hostel-contact {
    margin-top: 10px;
}