* {
    box-sizing: border-box !important;
    padding: 0;
    margin: 0;
    padding: 0;
    margin: 0;
}

h5, h2,h3{
    font-family: monospace;
    font-weight: bold;
}

* {
    transition: ease-in-out 300ms linear;
}

.common-page-title{
    margin-top: 100px;
    margin-bottom: 30px;
    padding: 5px;
    box-shadow:#241e4b -5px 5px,#0bc3cd -10px 10px;
    width: fit-content;
}