* {
    box-sizing: border-box !important;
    padding: 0;
    margin: 0;
}

.back-1{
    background-color: blueviolet;
}
.back-2{
    background-color: tomato;
}

* {
    transition: ease-in-out 300ms linear;
}