
.navbar{
    padding: 5px;
    /* background-color: cadetblue !important; */
    background-color:rgba(0, 0, 0, 0.5)
}

.navbar-brand{
    /* background-color: aquamarine; */
    padding-top:0;
    padding-bottom:0;
}

.navbar-brand >img{
    /* background-color: teal; */
    border: 1px solid white;
    padding: 2px;
    border-radius: 100%;
    width: 4rem;
    height: 4rem;
}

.navbar-brand >img:hover{
    /* background-color: rgb(17, 5, 5); */
    background-color: rgb(255, 255, 255,0.2);
    transition:ease-in 200ms;
}

.nav-item {
    margin-left: 10px;
    box-sizing: content-box;
}

.nav-link {
    font-size: 1rem;
    margin: 5px;
    font-family:'Roboto', sans-serif;;
}

.nav-link:hover {
    margin-bottom: -2px;
    border-bottom: 2px solid white;
    color: whitesmoke !important;
}

/* navbar after scroll */
.fixed-top.scrolled {
    background-color: #040506 !important;
    transition: background-color 400ms linear;
}
